{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": [1, { "code": 100 }],
    "react-with-styles/no-unused-styles": 2,
    "react-with-styles/only-spread-css": 2
  },
  "plugins": [
    "react-with-styles"
  ],
}
